<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valentincomte.getup" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlarmListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmDetailsActivity"
            android:label="@string/title_activity_alarm_details">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="andoid.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TalkAlarmActivity"
            android:label="Talk Alarm" />
        <activity
            android:name=".WalkAlarmActivity"
            android:label="Wak Alarm" />
        <activity
            android:name=".ShakeAlarmActivity"
            android:label="Shake Alarm" />
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <activity
            android:name=".PutOffAlarmActivity"
            android:label="@string/title_activity_put_off_alarm" >
        </activity>
        <activity
            android:name=".PutShakeAlarmOff"
            android:label="@string/title_activity_put_shake_alarm_off" >
        </activity>
        <activity
            android:name=".PutWalkAlarmOff"
            android:label="@string/title_activity_put_walk_alarm_off" >
        </activity>
    </application>

</manifest>
